#map {
	position: absolute;
	bottom: 3rem;
	left: 0;
	right: 0;
	top: 0;
}
#control {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3rem;
	padding: .5rem;
	box-sizing: border-box;
}
#err {
	font: bold 2rem sans-serif;
	color: red;
	text-shadow: 2px 2px 2px gray;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(255, 255, 255, .75);
	display: none;
	place-items: center;
	z-index: 99999;
}
